$main-bg-color: #ffffff;
$second-bg-color: #ffb8ca;
$accent: #d41443;
$section-text-color: #ffa5ba;

$main-text-color: #000000;
$second-text-color: #907e82;

$main-font: DM Sans, sans-serif;
$second-font: Titan One, cursive;
