<section class="advantages" id="advantages">
    <div class="container">
        <h2 hidden>Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <img src="./images/about/icon1.png" alt="gallery" class="advantages-item__icon">
                <h2 class="advantages-item__title">721</h2>
                <p class="advantages-item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <img src="./images/about/icon2.png" alt="gallery" class="advantages-item__icon">
                <h2 class="advantages-item__title">16kg</h2>
                <p class="advantages-item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <img src="./images/about/icon3.png" alt="gallery" class="advantages-item__icon">
                <h2 class="advantages-item__title">84</h2>
                <p class="advantages-item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>