<section class="contact" id="contact">
  <h2 class="visually-hidden">Contact</h2>
  <div class="container">
    <div class="contact-list">
      <div class="contact-list__item">
        <p class="contact-list__title">Cafe</p>
        <p class="contact-list__city">Chicago</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <div class="contact-box">
          <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
        
      </div>
      <div class="contact-list__item">
        <p class="contact-list__title colored">Foodtruck</p>
        <p class="contact-list__city">Los Angeles</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <div class="contact-box">
          <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
      <div class="contact-list__item">
        <p class="contact-list__title">Cafe</p>
        <p class="contact-list__city">New York</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <div class="contact-box">
          <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn contact-btn btn__accent" type="button" data-location-open>
        Our Locations
        <svg class="btn-img" width="10" height="9">
          <use href="./images/sprite.svg#icon-vector-btn-light">
          </use>
        </svg>
        </button>
      <button class="btn contact-btn btn__light" type="button" data-box-open>Franchise
        <svg class="btn-img" width="10" height="9">
          <use href="./images/sprite.svg#icon-vector-btn-pink">
          </use>
        </svg>
      </button>
    </div>
  </div>

  <!-- ---------------MODAL------------------ -->

  <div class="backdrope is-hidden" data-box>
    <div class="modal">
      <div class="modal-window">
        <p class="modal-window__title">Мы свяжемся с Вами!</p>
        <form class="form">
          <div class="form-group">
            <label for="name" class="form-group__label">Name</label>
              <div class="form-input">
                <input type="text"  name="name" id="name" class="form-input__text" placeholder="Jacob Mercer" autofocus required >
                  <svg class="form-input__icon" width="18" height="18">
                    <use href="./images/sprite.svg#icon-person"></use>
                  </svg>
              </div>
          </div>

          <div class="form-group">
            <label for="tel" class="form-group__label">Phone</label>
            <div class="form-input">
              <input type="tel" name="tel" id="tel" class="form-input__text" placeholder="+38(093) 296-22-46-59" required >
                <svg class="form-input__icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-phone-form"></use>
                </svg>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="form-group__label">Mail</label>
              <div class="form-input">
                <input type="email" name="email" id="email" class="form-input__text" placeholder="jacob@mail.com" required >
                  <svg class="form-input__icon" width="18" height="18">
                    <use href="./images/sprite.svg#icon-email"></use>
                  </svg>
              </div>
          </div>

          <div class="form-group">
            <label for="comment" class="form-group__label">Comment</label>
              <textarea class="form-group__textarea" name="comment" id="comment" placeholder="Text input"></textarea>
          </div>
          <button type="submit" class="btn modal-btn btn__light">Отправить</button>
        </form>
      </div>


      <button type="button" class="close-btn" data-box-close>
        <svg class="close-icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- -------------LOCATION------------------ -->

  <div class="backdrope is-hidden" data-location>
    <div class="location-window">
      <div class="close">
      <div class="location-item">
        <p class="location-item__title">Cafe</p>
        <p class="location-item__city">Chicago</p>
        <div class="location-map">
          <iframe class="location-link"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5942.472349775683!2d-87.62770170581912!3d41.866264869964475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9781e3a8c1%3A0x7ffa1aefc0e94970!2sGordo&#39;s%20Homemade%20Ice%20Cream%20Bars!5e0!3m2!1sru!2sua!4v1627473446897!5m2!1sru!2sua"
            
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <div class="location-item">
        <p class="location-item__title colored">Foodtruck</p>
        <p class="location-item__city">Los Angeles</p>
        <div class="location-map">
          <iframe class="location-link"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105776.03106211229!2d-118.36299621263021!3d34.056669910918394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c725196a85a3%3A0x96ff969f3d488102!2sParadis%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1627473582585!5m2!1sru!2sua"
            
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <div class="location-item">
        <p class="location-item__title">Cafe</p>
        <p class="location-item__city">New York</p>
        <div class="location-map">
          <iframe class="location-link"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48391.832144774125!2d-74.0381111208984!3d40.707239300000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a3ce7693ab7%3A0x332b3137190efbb6!2sBig%20Gay%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1627473636642!5m2!1sru!2sua"
            
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
      
    </div>
    <button class="location-window__close-btn" data-location-close>
      <svg class="location-window__icon-btn" width="30" heigth="30">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    </div>
  </div>
</section>
