<section class="contact">
  <div class="container">
    <ul class="contact-list">
      <li class="contact-list__item">
        <h3 class="contact-list__title">Cafe</h3>
        <p class="contact-list__city">Chicago</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact-list__item">
        <h3 class="contact-list__title">Foodtruck</h3>
        <p class="contact-list__city">Los Angeles</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact-list__item">
        <h3 class="contact-list__title">Cafe</h3>
        <p class="contact-list__city">New York</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <button class="btn contact-btn" type="button">Our Locations</button>
    <button class="btn contact-btn" type="button">Franchise</button>
  </div>
</section>