<section class="contact" id="contact">
  <div class="container">
    <div class="contact-list">
      <div class="contact-list__item">
        <h3 class="contact-list__title">Cafe</h3>
        <p class="contact-list__city">Chicago</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <div class="contact-box">
          <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
        
      </div>
      <div class="contact-list__item">
        <h3 class="contact-list__title colored">Foodtruck</h3>
        <p class="contact-list__city">Los Angeles</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <div class="contact-box">
          <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
      <div class="contact-list__item">
        <h3 class="contact-list__title">Cafe</h3>
        <p class="contact-list__city">New York</p>
        <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__working-days">Monday - Friday</p>
        <p class="contact-list__working-time"><time datetime="T06:00">06:00 AM</time> - <time datetime="T22:00">10:00 PM</time></p>
        <p class="contact-list__working-days">Saturday - Sunday</p>
        <p class="contact-list__working-time"><time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time></p>
        <div class="contact-box">
          <a class="contact-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn contact-btn btn__accent" type="button">
        Our Locations
        <svg class="btn-img" width="10" height="9">
          <use href="./images/sprite.svg#icon-vector-btn-light">
          </use>
        </svg>
        </button>
      <button class="btn contact-btn btn__light" type="button">Franchise
        <svg class="btn-img" width="10" height="9">
          <use href="./images/sprite.svg#icon-vector-btn-pink">
          </use>
        </svg>
      </button>
    </div>
    
  </div>
</section>