<section class="section__customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="review__slider-track">
      <div class="review__slider-item">
        <div class="review__thumb">
          <img
            srcset="
              /images/customer-reviews/customer-01.png    1x,
              /images/customer-reviews/customer-01@2x.png 2x
            "
            src="./images/customer-reviews/customer-01.png"
            alt="photo Emily"
            width="85"
          />
        </div>
        <div class="review__text-container">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="review-dots">
          <div class="review-dots__item"></div>
          <div class="review-dots__item"></div>
          <div class="review-dots__item"></div>
        </div>
        <span class="review__author">Emily, Los Angeles</span>
      </div>
      <div class="review__slider-item">
        <div class="review__thumb">
          <img
            srcset="
              /images/customer-reviews/customer-02.png    1x,
              /images/customer-reviews/customer-02@2x.png 2x
            "
            src="./images/customer-reviews/customer-02.png"
            alt="photo Ellen"
            width="85"
          />
        </div>
        <div class="review__text-container">
          <p class="review__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe quam pariatur
            ratione officiis accusantium nisi dolorum aliquid animi blanditiis harum odit fugiat
            adipisci illum tempora, rem ipsum.
          </p>
        </div>
        <div class="review-dots">
          <div class="review-dots__item"></div>
          <div class="review-dots__item"></div>
          <div class="review-dots__item"></div>
        </div>
        <span class="review__author">Ellen, Chicago</span>
      </div>
      <div class="review__slider-item">
        <div class="review__thumb">
          <img
            srcset="
              /images/customer-reviews/customer-03.png    1x,
              /images/customer-reviews/customer-03@2x.png 2x
            "
            src="./images/customer-reviews/customer-03.png"
            alt="photo Judith"
            width="85"
          />
        </div>
        <div class="review__text-container">
          <p class="review__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae eos soluta ab iusto
            neque facere numquam, nesciunt voluptas eum expedita debitis, ea libero facilis. Cumque
            rem officia consequatur aut fuga dolorem assumenda.
          </p>
        </div>
        <div class="review-dots">
          <div class="review-dots__item"></div>
          <div class="review-dots__item"></div>
          <div class="review-dots__item"></div>
        </div>
        <span class="review__author">Judith, New York City</span>
      </div>
    </div>
  </div>
</section>
