<section class="section__customer-reviews">
  <div class="container">
    <div class="review__slider-track">
      <div class="review__slider-item">
        <div class="review__thumb">
          <img src="./images/customer-reviews/customer-01.png" alt="" />
        </div>
        <div class="review__text-container">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="review__author">Emily, Los Angeles</span>
      </div>
      <!--       <div class="review__slider-item">
        <div class="review__thumb">
          <img src="./images/customer-reviews/customer-02.png" alt="" />
        </div>
        <div class="review__text-container">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="review__author">Emily, Los Angeles</span>
      </div>
      <div class="review__slider-item">
        <div class="review__thumb">
          <img src="./images/customer-reviews/customer-03.png" alt="" />
        </div>
        <div class="review__text-container">
          <p class="review__text">
            <span
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </p>
        </div>
        <span class="review__author">Emily, Los Angeles</span>
      </div> -->
    </div>
  </div>
</section>
