<section class="customer-reviews">
  <div class="container">
    <div class="slider-container">
      <div class="slider-track">
        <div class="slider-item">
          <img src="./images/customer-reviews/customer-01.png" alt="" />
          <div class="slider-item__text-container">
            <p class="slider-item__review-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <span class="slider-item__review-author">Emily, Los Angeles</span>
        </div>
        <div class="slider-item">
          <img src="./images/customer-reviews/customer-02.png" alt="" />
          <div class="slider-item__text-container">
            <p class="slider-item__review-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <span class="slider-item__review-author">Emily, Los Angeles</span>
        </div>
        <div class="slider-item">
          <img src="./images/customer-reviews/customer-03.png" alt="" />
          <div class="slider-item__text-container">
            <p class="slider-item__review-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <span class="slider-item__review-author">Emily, Los Angeles</span>
        </div>
      </div>
      <ul class="slider-dots">
        <li class="slider-dots__item">
          <svg class="slider-dots__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-home"></use>
          </svg>
        </li>
        <li class="slider-dots__item">
          <svg class="slider-dots__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-ellipse-instead"></use>
          </svg>
        </li>
        <li class="slider-dots__item">
          <svg class="slider-dots__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-ellipse-instead"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
