<section class="footer" id="footer">
  <div class="container">
    <div class="footer-box">
      <div class="footer-top">
      <p class="footer__text">Homemade ice cream made</p>
      <h2 class="footer__tittle">With passion</h2>
    </div>
    
    <div class="footer-bottom">
      <ul class="social-list">
      <li class="social-list__item">
        <a class="social-list__link" href="" target="_blank">
          <svg class="social-list__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-github"icon-telegram></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__link" href="" target="_blank">
          <svg class="social-list__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__link" href="" target="_blank">
          <svg class="social-list__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__contact">Feel free to contact <a class="footer__contact-link"href="tel:+610383766284">+61 (0) 383 766 284</a></p>
    </div>
    </div>
  </div>
</section>
<div class="footer-below">
  <p class="footer-copy">&copy; 2021 - IceCream. All Rights Reserved.</p>
  <img src="./images/team-logo/adept.jpg" alt="adept" width="50" height="50" class="team-logo">
</div>