<section class="footer">
  <div class="container">
    <p class="footer__text">Homemade ice cream made</p>
    <h2 class="footer__tittle">With passion</h2>
    <ul class="social-list">
      <li>
        <a class="social-list__link" href="">
          <svg class="social-list__icon" width="19" height="19">
            <!-- <use href="../images/sprite.svg#icon-github"icon-telegram></use> -->
          </svg>
        </a>
      </li>
      <li>
        <a class="social-list__link" href="">
          <svg class="social-list__icon" width="19" height="19">
            <!-- <use href="../images/sprite.svg#icon-telegram"></use> -->
          </svg>
        </a>
      </li>
      <li>
        <a class="social-list__link" href="">
          <svg class="social-list__icon" width="19" height="19">
            <!-- <use href="../images/sprite.svg#icon-facebook"></use> -->
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__contact">Feel free to contact <a class="footer__contact-link"href="tel:+610383766284">+61 (0) 383 766 284</a></p>
    <p class="footer-copy">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>

</section>