<section class="gallery-section">
    <div class="container">
        <h2 hidden>Gallery</h2>
        <picture>
            <source srcset="./images/gallery/bg-desktop@2x.jpg 2x, ./images/gallery/bg-desktop.jpg 1x"
                media="min-width: 1200px">
            <source srcset="./images/gallery/bg-tablet@2x.jpg 2x, ./images/gallery/bg-tablet.jpg 1x"
                media="min-width: 768px">
            <source srcset="./images/gallery/bg-mobile@2x.jpg 2x, ./images/gallery/bg-mobile.jpg 1x"
                media="min-width: 480px">
            <img src="./images/gallery/bg-desktop.jpg" alt="gallery">
        </picture>
    </div>
</section>