<section class="gallery-section">
    <div class="container">
        <h2 hidden>Gallery</h2>
        <div class="gallery">
            <div class="gallery-list">
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice1-desktop@2x.jpg 2x./images/gallery/ice1-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice1@2x.jpg 2x, ./images/gallery/mobile-tablet/ice1.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice1@2x.jpg 2x, ./images/gallery/mobile-tablet/ice1.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice1.jpg" alt="gallery">
                    </picture>
                </div>
            </div>
            <div class="gallery-list">
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice2-desktop@2x.jpg 2x./images/gallery/ice2-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice2@2x.jpg 2x, ./images/gallery/mobile-tablet/ice2.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice2@2x.jpg 2x, ./images/gallery/mobile-tablet/ice2.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice2.jpg" alt="gallery">
                    </picture>
                </div>
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice3-desktop@2x.jpg 2x./images/gallery/ice3-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice3@2x.jpg 2x, ./images/gallery/mobile-tablet/ice3.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice3@2x.jpg 2x, ./images/gallery/mobile-tablet/ice3.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice3.jpg" alt="gallery">
                    </picture>
                </div>
            </div>
            <div class="gallery-list">
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice4-desktop@2x.jpg 2x./images/gallery/ice4-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice4@2x.jpg 2x, ./images/gallery/mobile-tablet/ice4.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice4@2x.jpg 2x, ./images/gallery/mobile-tablet/ice4.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice4.jpg" alt="gallery">
                    </picture>
                </div>
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice5-desktop@2x.jpg 2x./images/gallery/ice5-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice5@2x.jpg 2x, ./images/gallery/mobile-tablet/ice5.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice5@2x.jpg 2x, ./images/gallery/mobile-tablet/ice5.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice5.jpg" alt="gallery">
                    </picture>
                </div>
            </div>
            <div class="gallery-list">
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice6-desktop@2x.jpg 2x./images/gallery/ice6-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice6@2x.jpg 2x, ./images/gallery/mobile-tablet/ice6.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice6@2x.jpg 2x, ./images/gallery/mobile-tablet/ice6.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice6.jpg" alt="gallery">
                    </picture>
                </div>
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice7-desktop@2x.jpg 2x./images/gallery/ice7-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice7@2x.jpg 2x, ./images/gallery/mobile-tablet/ice7.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice7@2x.jpg 2x, ./images/gallery/mobile-tablet/ice7.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice7.jpg" alt="gallery">
                    </picture>
                </div>
            </div>
            <div class="gallery-list">
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice8-desktop@2x.jpg 2x./images/gallery/ice8-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice8@2x.jpg 2x, ./images/gallery/mobile-tablet/ice8.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice8@2x.jpg 2x, ./images/gallery/mobile-tablet/ice8.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice8.jpg" alt="gallery">
                    </picture>
                </div>
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice9-desktop@2x.jpg 2x./images/gallery/ice9-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice9@2x.jpg 2x, ./images/gallery/mobile-tablet/ice9.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice9@2x.jpg 2x, ./images/gallery/mobile-tablet/ice9.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice9.jpg" alt="gallery">
                    </picture>
                </div>
            </div>
            <div class="gallery-list">
                <div class="gallery-icon">
                    <picture>
                        <source srcset="./images/gallery/ice10-desktop@2x.jpg 2x./images/gallery/ice10-desktop.jpg 1x"
                            media="min-width: 1280px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice10@2x.jpg 2x, ./images/gallery/mobile-tablet/ice10.jpg 1x"
                            media="min-width: 768px">
                        <source
                            srcset="./images/gallery/mobile-tablet/ice10@2x.jpg 2x, ./images/gallery/mobile-tablet/ice10.jpg 1x"
                            media="min-width: 480px">
                        <img src="./images/gallery/mobile-tablet/ice10.jpg" alt="gallery">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>