<header class="header">
  <div class="nav">
    <a href=""><img src="./images/hero-header/logo-mobile.png" alt="Лого компании IceCream" /></a>
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="">Home</a></li>
      <li class="nav__item"><a class="nav__link" href="">About us</a></li>
      <li class="nav__item"><a class="nav__link" href="">How it's made?</a></li>
      <li class="nav__item"><a class="nav__link" href="">Our products</a></li>
      <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
    </ul>
  </div>
  <button type="button">Buy now</button>
</header>
<section class="hero">
  <h1 class="hero__title">ice cream made with <span>passion</span></h1>
  <button type="button"><a href="">Products</a></button>
  <button type="button"><a href="">How it's made?</a></button>
  <img src="./images/hero-header/milk-tablet.png" alt="Банка с молоком" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et
  </p>
  <svg widt="15" height="15">
    <use href="./images/sprite.svg#icon-arrow-forward"></use>
  </svg>
  <img src="./images/hero-header/icecream-mobile.png" alt="Шестислойное мороженко" />
  <span>16</span>
  <span>23</span>
  <img src="./images/hero-header/girl-tablet.png" alt="" />
</section>
