<section class="products">
    <div class="container">
        <div>
            <p class="products__text">100% natural</p>
            <h1 class="products__title">products</h1>
            
        </div>
        <ul class="products__menu">
            <li class="products__list">
                <div class="products__picture">

                    <picture>
                        <source srcset="./images/product/cream-desktop@2x.png 2x, 
                        ./images/product/cream-desktop.png 1x" media="(min-width: 1280px)" />
                        <source srcset="./images/product/cream-tablet@2x.png 2x, 
                        ./images/product/cream-tablet.png 1x" media="(min-width: 768px)" />
                        <source srcset="./images/product/cream-mobile@2x.png 2x, 
                        ./images/product/cream-mobile.png 1x" media="(min-width: 320px)" />

                        <img class="products__img" src="./images/product/cream-desktop.png" alt="фото мороженого" />

                    </picture>

                </div>
                <div class="produkts__cart">
                    <h3 class="products__listtitle">
                        ice cream
                    </h3>
                    <div class="round-svg">

                        <svg class="" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>
                        <svg class="terr" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>
                        <svg class="terr" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>

                    </div>

                    <p class="products__listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>

                    <div class="products__arrowright">
                        <button type="button" class="products__button" data-modal-open-pink>
                            <svg class="products__swg" width="10" height="10">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__list">
                <div class="products__picture">

                    <picture>
                        <source srcset="./images/product/coffee-desktop@2x.png 2x, 
                                    ./images/product/coffee-desktop.png 1x" media="(min-width: 1280px)" />
                        <source srcset="./images/product/coffee-tablet@2x.png 2x, 
                                    ./images/product/coffee-tablet.png 1x" media="(min-width: 768px)" />
                        <source srcset="./images/product/coffee-mobile@2x.png 2x, 
                                    ./images/product/coffee-mobile.png 1x" media="(min-width: 320px)" />

                        <img class="products__img" src="./images/product/coffee-desktop.png" alt="фото мороженого" />

                    </picture>

                </div>
                <div class="produkts__cart produkts__cart_coffe">
                    <h3 class="products__listtitle">
                        ice coffee
                    </h3>
                    <div class="round-svg">

                        <svg class="" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>
                        <svg class="terr" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>
                        <svg class="terr" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>

                    </div>

                    <p class="products__listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>

                    <div class="products__arrowright">
                        <button type="button" class="products__button" data-modal-open-braun>
                            <svg class="products__swg" width="10" height="10">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </button>

                    </div>


                </div>



            </li>

            <li class="products__list">
                <div class="products__picture">

                    <picture>
                        <source srcset="./images/product/shakes-desktop@2x.png 2x, 
                                    ./images/product/shakes-desktop.png 1x" media="(min-width: 1280px)" />
                        <source srcset="./images/product/shakes-tablet@2x.png 2x, 
                                    ./images/product/shakes-tablet.png 1x" media="(min-width: 768px)" />
                        <source srcset="./images/product/shakes-mobile@2x.png 2x, 
                                    ./images/product/shakes-mobile.png 1x" media="(min-width: 320px)" />

                        <img class="products__img" src="./images/product/shakes-desktop.png" alt="фото мороженого" />

                    </picture>

                </div>
                <div class="produkts__cart produkts__cart_milkshakes">
                    <h3 class="products__listtitle">
                        milkshakes
                    </h3>
                    <div class="round-svg">

                        <svg class="" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>
                        <svg class="terr" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>
                        <svg class="terr" width="6" height="6">
                            <use href="./images/sprite.svg#icon-Ellipse-5-1"></use>
                        </svg>

                    </div>

                    <p class="products__listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>

                    <div class="products__arrowright">
                        <button type="button" class="products__button" data-modal-open-green>
                            <svg class="products__swg" width="10" height="10">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </button>

                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>

<!-- MODAL PINK -->

<div class="products-backdrop is-hidden" data-modal-pink>
    <div class="products-modal products-modal__pink">
        <div>
            <svg class="products__buttonclose" width="10" height="10" data-modal-close-pink>
                <use href="./images/sprite.svg#icon-menu-close"></use>
            </svg>
        </div>
        <div class="products-modal__carts">
            <h3 class="products-modal__listtitle">
                about ice cream
            </h3>
            <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                darum corporis amet quae animi voluptatem distinctio illum veniam.
                Non laborum quisquam at qui dolore, aliquid laudantium provident eaque omnis odit eius?</p>
        </div>


    </div>
</div>

<!-- MODAL BRAUN -->

<div class="products-backdrop is-hidden" data-modal-braun>
    <div class="products-modal products-modal__braun">
        <div>
            <svg class="products__buttonclose" data-modal-close-braun>
                <use href="./images/sprite.svg#icon-menu-close"></use>
            </svg>
        </div>
        <div class="products-modal__carts">
            <h3 class="products-modal__listtitle">
                about milkshakes
            </h3>
            <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                darum corporis amet quae animi voluptatem distinctio illum veniam.
                Non laborum quisquam at qui dolore, aliquid laudantium provident eaque omnis odit eius?</p>
        </div>


    </div>
</div>

<!-- MODAL GREEN -->

<div class="products-backdrop is-hidden" data-modal-green>
    <div class="products-modal products-modal__green">
        <div>
            <svg class="products__buttonclose" data-modal-close-green>
                <use href="./images/sprite.svg#icon-menu-close"></use>
            </svg>
        </div>
        <div class="products-modal__carts">
            <h3 class="products-modal__listtitle">
                about ice coffee
            </h3>
            <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                darum corporis amet quae animi voluptatem distinctio illum veniam.
                Non laborum quisquam at qui dolore, aliquid laudantium provident eaque omnis odit eius?</p>
        </div>


    </div>
</div>


<script src="./js/modal-products-pink.js"></script>
<script src="./js/modal-products-braun.js"></script>
<script src="./js/modal-products-green.js"></script>