.advantages-section{
    background-color: #FFF5F6;
}

.advantages-list {
    padding-bottom: 38px;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: -60px;
        padding-bottom: 136px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: -30px;
        padding-bottom: 139px;
    }
}

.advantages-item {
    width: 100%;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 120px) / 3);
        margin-left: 60px;
    }

     @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px) / 3);
        margin-left: 30px;
    }

    &__icon {
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
        }
    
         @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
        }
    }

    // &::before{
    //     display: block;
    //     content: "";
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: contain;
    //     margin-bottom: 16px;
    //     }
    // &:nth-child(1)::before {
    //     background-image: url(../images/about/icon1.png);
    //     background-size: 50px 50px;
    //     @media screen and (min-width: 768px) {
    //         background-size: 33px 50px;
    //     }
    // }
    
    // &:nth-child(2)::before {
    //     background-image: url(../images/about/icon2.png);
    //     background-size: 50px 50px;
    //     @media screen and (min-width: 768px) {
    //         background-size: 33px 50px;
    //     }
    // }
    
    // &:nth-child(3)::before {
    //     background-image: url(../images/about/icon3.png);
    //     background-size: 50px 50px;
    //     @media screen and (min-width: 768px) {
    //         background-size: 33px 50px;
    //     }
    // }

    &__title {
        font-family: $second-font;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
        color: $accent;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            margin-bottom: 13px;
            font-size: 48px;
            line-height: 1.46;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 15px;
            font-size: 58px;
            line-height: 1.14;
        }
    }

    &__text {
        font-family: $main-font;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.04em;
        color: $main-text-color;
        margin-bottom: 38px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.15;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: 0.02em;
        }
    }

}
