.gallery {
    display: flex;
    
    align-items: center;
}

.gallery-list {
    flex-direction: column;
    margin-left: 5px;
    &__icon {
    margin-bottom: 15px;

}

.gallery-icon {
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    height: 12vw;
    width: 12vw;
    &__main {
        height: 72px;
        width: 72px;
    }

    @media screen and (min-width: 480px) {
        border-radius: 10px;
        height: 60px;
        width: 60px;
    &__main {
        height: 108px;
        width: 108px;
        }
    }

    @media screen and (min-width: 768px) {
        height: 96px;
        width: 96px;
        &__main {
            height: 173px;
            width: 173px;
        }
        border-radius: 24px;
    }

    @media screen and (min-width: 1280px) {
        height: 150px;
        width: 150px;
        &__main {
        height: 270px;
        width: 270px;
        }
    }

    transform: scale(1, 1);
    &:hover {
        position: relative;
        z-index: 2;
        transform: scale(1.4);
        transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

    }
}
}
