.header,
.hero {
  background-color: $second-bg-color;
}
.header .container {
  max-width: 767px;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  &__btn {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: $accent;
  }
  &__icon-open {
    position: relative;
    z-index: 2;
    height: 12px;
    width: 20px;
  }
  &__icon-close {
    height: 14px;
    width: 14px;
    position: absolute;
    right: 28px;
    top: 23px;
  }
  &__box {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    height: 100%;
    width: 250px;
    background-color: #e17992;

    transform: translateX(100%);
    &.is-open {
      transform: translateX(0);
    }
  }
  &__item {
    position: relative;
    &:nth-child(2n + 1) {
      & .nav__link::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e18298;
      }
      & .nav__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e18298;
      }
    }
  }
  &__link {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: #ffffff;

    &.current {
      color: $accent;
    }
  }
}

.nav__logo {
}

.nav__list {
}

.header__btn {
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 20px;
  &--mob {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: 30px;

      position: relative;
      z-index: 3;
    }
  }
}

// -------------------hero

.hero {
  @media screen and (max-width: 767px) {
    position: relative;
  }
  padding-top: 135px;
  padding-bottom: 160px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 28px;
    & .container {
      position: relative;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 20px;

    font-family: $second-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: 768px) {
      width: 162px;

      font-size: 22px;
      line-height: 1.36;
    }

    & span {
      font-family: $second-font;
      font-size: 48px;
      line-height: 0.965;

      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: $accent;

      @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.9;
      }
    }
  }
  &__btns {
    display: flex;

    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 13px;
    height: 24px;
    border-radius: 20px;
    outline: none;
    border: none;

    font-size: 8px;
    line-height: 1.25;
    &.btn__accent {
      margin-right: 8px;
    }
  }
  &__left {
    position: relative;
    z-index: 3;
  }
  &__left-bottom {
    display: none;

    & .icon-arrow {
      fill: $accent;
      width: 10px;
      height: 9px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__text-box {
    padding-bottom: 6px;
    position: relative;
    left: -4px;
  }

  &__text {
    width: 119px;
    margin-bottom: 7px;

    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }

  &__link-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  &__right {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__picture {
    &--icecream {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 32px;
      @media screen and (min-width: 768px) {
        bottom: -28px;
        right: 247px;
      }
    }
    &--ellipse {
      z-index: 1;
      position: absolute;
      bottom: 75px;
      right: 0;
      @media screen and (min-width: 768px) {
        bottom: 18px;
        right: 137px;
      }
    }
    &--girl {
      z-index: 2;
      position: absolute;
      right: 34px;
      bottom: -28px;
    }
  }

  &__branches {
    position: absolute;
    right: 34px;
    top: 0;

    font-family: $second-font;
    font-weight: 400;
    font-size: 28px;
    color: $accent;
    :not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__branches-item {
    position: relative;
    display: flex;

    justify-content: flex-end;
  }

  &__cafes {
    z-index: 1;
    position: relative;
    left: 6px;
    bottom: 3px;
    &::after {
      content: 'cafes';
      position: absolute;
      bottom: -6px;
      right: 0;

      font-family: $main-font;
      font-weight: 400;
      font-size: 8px;
      color: #ffffff;
    }
  }
  &__food-trucks {
    z-index: 1;
    position: relative;
    left: 8px;
    bottom: 4px;

    &::after {
      width: 50px;
      content: 'food trucks';
      position: absolute;
      bottom: -6px;
      right: 0;

      font-family: $main-font;
      font-weight: 400;
      font-size: 8px;
      color: #ffffff;
    }
  }
  &__circle {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #ffffff;
  }
}
