// animation
.hero__picture--icecream {
  animation-duration: 1000ms;
}

.hero__picture--girl {
  animation-duration: 1000ms;
  animation-delay: 500ms;
}
.hero__left {
  animation-duration: 1000ms;
  animation-delay: 500ms;
}

// .hero__picture--girl.animate__tada {
//   animation-delay: 2s;
// }

// BACK TO TOP!!!!!
.back_to_top {
  position: fixed;

  // display: block;
  opacity: 1;
  transition: opacity 250ms $effect;
  bottom: 40px;
  right: 20px;
  z-index: 9;
  width: 40px;
  height: 40px;
  line-height: 30px;
  background-color: $second-bg-color;
  color: #444;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  // display: none;
  fill: #ffffff;

  transform: rotate(-90deg);

  @media screen and (min-width: 768px) {
    bottom: 60px;
    right: 30px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 80px;
    right: 40px;
  }
  &:hover,
  &:focus {
    background-color: $accent;
  }
}

.back_to_top-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  opacity: 0;

  transition: opacity 250ms $effect;
}

// BACK TO TOP!!!!!
.header,
.hero {
  background-color: $second-bg-color;
}
.header .container {
  @media screen and (max-width: 767px) {
    max-width: 767px;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  &__logo {
    flex-shrink: 0;
    @media screen and (min-width: 1280px) {
      position: relative;
      left: -70px;
    }
  }
  &__btn {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: $accent;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  &__icon-open {
    position: relative;
    z-index: 2;
    height: 35px;
    width: 35px;

    fill: $accent;

    transition: fill 250ms $effect;

    &:hover,
    &:focus {
      fill: #c7133e;
    }
  }
  &__icon-close {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 18px;
    top: 13px;

    fill: #ffffff;

    transition: fill 250ms $effect;
    &:hover,
    &:focus {
      fill: $accent;
    }
  }
  &__box {
    display: flex;
    z-index: 10;
    @media screen and (max-width: 1279px) {
      position: fixed;
      top: 0;
      right: 0;
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;

      flex-direction: column-reverse;
      justify-content: flex-end;

      height: 100%;
      width: 250px;
      background-color: #e17992;

      transform: translateX(100%);
      transition: transform 300ms $effect;
      &.is-open {
        transform: translateX(0);
      }
    }
    @media screen and (min-width: 1280px) {
      align-items: center;
      position: relative;
      width: 100%;
      margin-left: 40px;
    }
  }
  &__list {
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }
  &__item {
    @media screen and (max-width: 1279px) {
      position: relative;
      &:nth-child(2n + 1) {
        // background-image: linear-gradient(
        //   to top,
        //   #e18298 0px 1px,
        //   transparent 1px 43px,
        //   #e18298 43px 44px
        // );

        & .nav__link::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #e18298;
        }
        & .nav__link::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #e18298;
        }
      }
    }
    @media screen and (min-width: 1280px) {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
  &__link {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: #ffffff;

    transition: color 250ms $effect;
    &.current {
      color: $accent;
    }
    &:hover,
    &:focus {
      color: $accent;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.31;
    }
  }
}

.header__btn {
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    margin-left: auto;
  }

  &--mob {
    @media screen and (max-width: 767px), (min-width: 1280px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: 25px;

      position: relative;
      z-index: 3;
    }
  }
}

// -------------------hero

.hero {
  @media screen and (max-width: 767px) {
    position: relative;
  }
  padding-top: 135px;
  padding-bottom: 160px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 28px;
    & .container {
      position: relative;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 84px;
    padding-bottom: 45px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 20px;

    font-family: $second-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: 768px) {
      width: 162px;

      font-size: 22px;
      line-height: 1.36;
    }
    @media screen and (min-width: 1280px) {
      width: 280px;
      margin-bottom: 25px;

      font-size: 38px;
      line-height: 1.15;
    }

    & span {
      font-family: $second-font;
      font-size: 48px;
      line-height: 0.965;

      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: $accent;

      @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.9;
      }
      @media screen and (min-width: 1280px) {
        font-size: 58px;
      }
    }
  }
  &__btns {
    display: flex;

    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 56px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 13px;
    height: 24px;
    border-radius: 20px;
    outline: none;
    border: none;

    font-size: 8px;
    line-height: 1.25;

    transition: background-color 250ms $effect;
    @media screen and (min-width: 1280px) {
      padding-right: 21px;
      padding-left: 21px;

      height: 40px;
      font-size: 14px;
      line-height: 1.28;
    }

    &.btn__accent {
      margin-right: 8px;
    }
  }
  &__left {
    position: relative;
    z-index: 3;
  }
  &__left-bottom {
    display: none;

    & .icon-arrow {
      fill: $accent;
      width: 10px;
      height: 9px;
      @media screen and (min-width: 1280px) {
        transform: scale(1.4);
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__text-box {
    padding-bottom: 6px;
    position: relative;
    left: -4px;
    @media screen and (min-width: 1280px) {
      padding-bottom: 11px;
      left: 30px;
    }
  }

  &__text {
    width: 119px;
    margin-bottom: 7px;

    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    @media screen and (min-width: 1280px) {
      width: 200px;
      margin-bottom: 20px;

      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__link-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    @media screen and (min-width: 1280px) {
      width: 26px;
      height: 26px;
    }
  }

  &__right {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__picture {
    &--icecream {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 32px;
      @media screen and (min-width: 768px) {
        bottom: -28px;
        right: 227px;
      }
      @media screen and (min-width: 1280px) {
        bottom: -45px;
        right: 353px;
      }
    }
    &--ellipse {
      z-index: 1;
      position: absolute;
      bottom: 75px;
      right: 0;
      @media screen and (min-width: 768px) {
        bottom: 18px;
        right: 117px;
      }
      @media screen and (min-width: 1280px) {
        bottom: 30px;
        right: 170px;
      }
    }
    &--girl {
      z-index: 2;
      position: absolute;
      right: 20px;
      bottom: -28px;
      @media screen and (min-width: 1280px) {
        bottom: -45px;
        right: 0;
      }
    }
  }

  &__branches {
    position: absolute;
    right: 20px;
    top: 0;

    font-family: $second-font;
    font-weight: 400;
    font-size: 28px;
    color: $accent;
    :not(:last-child) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      right: 0;
      top: -20px;
    }
  }

  &__branches-item {
    position: relative;
    display: flex;

    justify-content: flex-end;
  }

  &__cafes {
    z-index: 1;
    position: relative;
    left: 6px;
    bottom: 3px;
    @media screen and (min-width: 1280px) {
      left: 12px;
      bottom: 5px;
    }

    &::after {
      content: 'cafes';
      position: absolute;
      bottom: -6px;
      right: 0;

      font-family: $main-font;
      font-weight: 400;
      font-size: 8px;
      color: #ffffff;
      @media screen and (min-width: 1280px) {
        bottom: -10px;

        font-size: 14px;
      }
    }
  }
  &__food-trucks {
    z-index: 1;
    position: relative;
    left: 8px;
    bottom: 4px;
    @media screen and (min-width: 1280px) {
      left: 14px;
      bottom: 6px;
    }

    &::after {
      width: 50px;
      content: 'food trucks';
      position: absolute;
      bottom: -6px;
      right: 0;

      font-family: $main-font;
      font-weight: 400;
      font-size: 8px;
      color: #ffffff;
      @media screen and (min-width: 1280px) {
        width: 80px;
        bottom: -10px;
        font-size: 14px;
      }
    }
  }
  &__circle {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #ffffff;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
    }
  }
}

// modal

.hr-backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms $effect;
}
.hr-backdrop.is-hidden .hr-modal {
  transform: scale(0);
  transition: transform 250ms $effect;
}
.hr-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 250ms $effect;
}
.hr-backdrop .hr-modal {
  width: 100%;
  position: relative;
  padding: 180px 30px 30px;
  background-image: url(../images/hero-header/modal-bg.png),
    linear-gradient(to right, rgba(255, 184, 202, 0.452), rgba(255, 184, 202, 0.452)),
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 5px;

  background-repeat: no-repeat;
  background-size: contain;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transform: scale(1);
  transition: transform 250ms $effect;

  @media screen and (max-width: 767px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
}
.hr-modal__title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.438);
  color: #000000;

  margin-bottom: 30px;
  // color: $titleColor;
  @media screen and (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
  & span {
    color: $accent;
  }
}
.hr-modal__btn_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;

  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  &:hover {
    background-color: $accent;
  }
}

.hr-modal__btn_icon {
  width: 100%;
  height: 100%;

  fill: $accent;

  transition: fill 25ms $effect, transform 250ms $effect;

  .hr-modal__btn_close:hover & {
    fill: #ffffff;
    transform: rotate(0.25turn);
  }
}

.hr-modal-form {
  width: 100%;
  &__field {
    margin-bottom: 10px;
  }
  &__label {
    display: block;
    text-align: center;
    margin-bottom: 4px;

    color: #000000;
    font-size: 12px;
  }
  &__input-wrapper {
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 12px 20px 12px 20px;
    background-color: rgba(255, 255, 255, 0.192);
    /* margin-bottom: 10px; */

    border: 1px solid rgba(212, 20, 68, 0.3);
    border-radius: 5px;
    outline: none;

    transition: border-color 250ms $effect;
    &:focus {
      border-color: $accent;
    }
  }
}

.hr-modal-form__btn {
  margin-top: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
