.products {
  text-align: center;
  margin-top: 151px;
}

.products__text {
  font-family: Titan One;
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
.products__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.products__list:not(:last-child) {
  margin-bottom: 17px;
}
.products__menu {
  position: relative;
  overflow: hidden;
  margin-bottom: 98px;
}
.products__img {
  margin-right: auto;
  margin-left: auto;
  top: 120px;
}
.products__menu > .products__picture {
  position: absolute;
  bottom: 120px;
}
.products__listtitle {
  padding-top: 161px;
}
.produkts__cart {
  background: #ffb8ca;
  border-radius: 24px;
  padding-bottom: 40px;
}
.produkts__cart_coffe {
  background: #f0d1a5;
  border-radius: 24px;
}
.produkts__cart_milkshakes {
  background: #c2e297;
  border-radius: 24px;
}
.products__listtitle {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.round-svg {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.products__listtext {
  padding-left: 40px;
  padding-right: 40px;
}

.products__arrowright {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 50%;
  background: #ffffff;
  width: 40px;
  height: 40px;
}
.products__swg {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
